main {
  margin: 50px 20px;
  background-color: $dark;
  padding: 20px;

  .loading {
    max-width: 100px;
    margin: auto;
  }
  //FOTOGRAPHER

  //LOGIN
  .autoLoggedOut {
    margin: 10px;
    text-align: center;
    color: red;
  }
  form {
    @include centeredForm;
  }

  //REGISTER
  form {
    @include centeredForm;
  }

  //home
  #homeDiv {
    margin-top: 10vh;
    display: grid;
    grid-template: 1fr 1fr;
    gap: 20px;
    @include media615 {
      display: block;
    }
    h1 {
      text-align: center;
      grid-column: 1/3;
    }
    div {
      margin-top: 20px;
      border-left: 2px solid white;
      padding: 10px;
      h2 {
        text-align: center;
        margin-bottom: 14px;
      }
      ul {
        li {
          margin: 10px 0 10px 20px;
          padding-left: 6px;
          list-style: disc;
        }
      }
    }
  }

  //Profile
  .profileInfo {
    max-width: 500px;
    margin: 40px auto;
    display: grid;
    place-items: center;

    .profilePicture {
      max-width: 200px;
      img {
        width: 100%;
      }
    }
    .bio {
      margin: 10px auto;
    }
    .role {
      margin: 10px auto;
      font-weight: 700;
    }
  }

  //ProfileAlbums
  #profileAlbumsSection {
    margin: 50px auto;
    #profileAlbumTop {
      margin: 20px auto;
    }
    #albums {
      @include grid3Cols;
      .album {
        aspect-ratio: 1/1;
        position: relative;
        overflow: hidden;

        &:hover img {
          transform: scale(1.1);
        }
        picture {
          img {
            aspect-ratio: 1/1;
            object-fit: cover;
            transition: transform 0.3s ease;
          }
        }
        h3 {
          position: absolute;
          bottom: 3px;
          left: 0px;
          right: 0px;
          padding: 4px 10px;
          color: white;
        }
      }
    }
  }
  .AlbumSection {
    .tagsDiv {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;

      .tag {
        @include tag;
      }
    }
    #descriptionDiv {
      margin: 20px 0;
    }
    .buttonDiv {
      @include media615 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
      }
      button {
        padding: 6px 10px;
        min-width: 100px;
        margin-right: 10px;
        @include media615 {
          padding: 4px;
          margin: 0;
          min-width: none;
        }
      }
    }
    #deleteAlbumDiv {
      border: 4px solid white;
      padding: 10px;
      margin: 50px auto;
      max-width: 400px;
      button {
        margin-top: 10px;
        padding: 6px 10px;
        width: 100px;
        border-radius: 4px;
        background: red;
        &:hover {
          background: rgba(255, 0, 0, 0.826);
        }
      }
    }
    #deletePhotosDiv {
      margin: 20px auto 10px auto;
      h3 {
        margin-bottom: 6px;
      }
      button {
        padding: 6px 10px;
        width: 100px;
        border-radius: 4px;

        background: red;
        &:hover {
          background: rgba(255, 0, 0, 0.826);
        }
      }
    }
    #sendRequestForm {
      label {
        display: block;
        font-size: 20px;
      }
      textarea {
        width: 100%;
        min-height: 100px;
        padding: 10px;
      }
      button {
        padding: 10px;
      }
    }
    .detailsDiv {
      max-width: 500px;
      margin: 40px 20px;
      h2 {
        margin-bottom: 6px;
      }
      h3 {
        margin: 10px 0 4px 0;
      }
    }
    form {
      margin: 20px auto;
      h2 {
        margin-bottom: 10px;
      }
      #dragAndDropDiv {
        background: white;
        color: $dark;
        padding: 20px;
        text-align: center;
        margin: 20px auto;
        min-height: 100px;
        border-radius: 4px;

        #dropZone {
          border: 2px dashed $dark;
          min-height: 100px;
          border-radius: 4px;
          display: grid;
          place-content: center;
          cursor: pointer;
          img {
            margin: 20px auto;
          }
          h3 {
            margin: 10px auto 4px auto;
          }
          p {
            margin-bottom: 10px;
          }
        }
      }
      #addPhotosInput {
        display: none;
      }
      #previewDiv {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5px;
        @include media1000 {
          grid-template-columns: 1fr 1fr;
        }
        div {
          position: relative;
          cursor: pointer;
          display: grid;
          place-items: center;
          &:hover {
            filter: grayscale(100%);
          }
          &:hover .previewRemove {
            display: block;
          }

          .previewRemove {
            position: absolute;
            max-width: 100px;
            z-index: 2;
            display: none;
          }
          .previewImg {
            width: 100%;
            z-index: 1;
          }
        }
      }
      .progressBarDiv {
        height: 30px;
        .progressBar {
          border: 2px solid black;
          background: rgb(239, 234, 234);
          height: 30px;
          display: grid;
          grid-template-rows: 1fr;
          align-items: center;
          span {
            grid-row: 1/1;
            grid-column: 1/1;
            color: black;
            margin-left: 10px;
            z-index: 2;
          }
          .progress {
            grid-row: 1/1;
            grid-column: 1/1;
            background: rgb(50, 216, 16);
            height: 100%;
            z-index: 1;
          }
        }
      }
    }
    .invitesDiv {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 10px;
      @include media615 {
        grid-template-columns: 1fr;
      }
      h2 {
        grid-column: 1/3;
      }
      & > div {
        padding: 10px;
        border: 4px solid white;
        p {
          font-size: 20px;
          font-weight: bold;
        }
        .link {
          cursor: pointer;
          color: $blue;
        }
        .watermarkButtons {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 10px;
          margin: 20px auto 6px auto;
          button {
            background: $dark;
            color: $light;
            padding: 10px 0;
          }
        }
      }
    }
    #collection {
      margin: 50px auto;
      @include grid3Cols;
      .photoDiv {
        position: relative;
        &:hover span {
          display: inline;
        }
        span {
          position: absolute;
          top: 0px;
          right: 0px;
          z-index: 2;
          background-color: rgba(255, 255, 255, 0.336);
          display: none;
          border-bottom-left-radius: 10px;
          &:hover {
            cursor: pointer;
            background-color: rgb(153, 0, 0);
          }
          img {
            padding: 10px;
          }
        }
        .photo {
          aspect-ratio: 1/1;
          overflow: hidden;
          display: grid;
          place-content: center;
          z-index: 1;

          &:hover img {
            filter: grayscale(30%);
            cursor: pointer;
          }
          picture {
            img {
              aspect-ratio: 1/1;
              object-fit: cover;
            }
          }
        }
      }
      & .deletePhoto {
        filter: grayscale(100%);
        box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px,
          rgb(255, 255, 255) 0px 0px 0px 3px;
      }
      & .liked {
        box-shadow: rgba(0, 255, 47, 0.502) 0px 1px 4px,
          rgb(1, 174, 13) 0px 0px 0px 3px;
      }
    }
  }
}
